body {
  margin: 0;
  padding: 0;
}

#maZone {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  padding: 20px;
  text-align: center;
  background-color: #fff; /* Ajoutez une couleur de fond si nécessaire */
}

.invisible {
  display: none;
}
